$color-primary: #9152F9;

$color-black: #141414;
$color-white: #ffffff;

$color-text-black: $color-black;
$color-text-white: $color-white;


$color-background-gradient-primary: $color-text-black;
$color-background-gradient-secondary: #373737;


$mobile-width: 700px;

$font: 'Inter',
    sans-serif;