@import 'constants';

.experiences {
    position: relative;
    padding: 7vh 5vw;
    height: 80vh;
    background-image: url('/image/passion_background.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    z-index: 0;
    margin: 0;
}

.experiences::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-primary;
    opacity: 0.8;
    z-index: 1;
}

.experiences>* {
    position: relative;
    z-index: 2;
}

.title {
    text-align: left;
    margin: 0;
}


.title h2 {
    font-size: 6vh;
    color: $color-text-white;
    margin: 0;
}

.title h4 {
    font-size: 3vh;
    color: $color-text-black;
    margin: 0;
}


.main_timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
}

.main_timeline:before {
    content: '';
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $color-background-gradient-secondary;
    z-index: -1;
}

.main_timeline .timeline {
    flex: 1;
    padding: 0 15px;
    position: relative;
}

.main_timeline .timeline_content {
    color: $color-text-white;
    background: linear-gradient(to right, #000000, #3d3d3d);
    padding: 5vh 3vh;
    border-radius: 10px;
    display: block;
    width: 20vw;
    position: relative;
    z-index: 1;
    text-align: center;
}

.main_timeline .timeline_content:hover {
    text-decoration: none;
}

.main_timeline .timeline_icon {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 10px;
}

.main_timeline .title {
    font-size: 3vh;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.main_timeline .description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vh;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
}

.main_timeline .timeline_year {
    color: $color-text-white;
    font-size: 5vh;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    border-bottom: 3px solid #3d3d3d;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-black;
    padding: 1vh 2vh;
    border-radius: 10px;
}

@media screen and (max-width: $mobile-width) {
    .experiences {
        padding: 7vw 2vh;
        height: 180vh;

    }


    .title h2 {
        font-size: 4vh;
    }

    .title h4 {
        font-size: 2.5vh;
    }

    .main_timeline {
        flex-direction: column;
        align-items: center;
        margin-top: 4vh;
        padding-top: 5vh;
    }

    .main_timeline:before {
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        transform: translateX(-50%);
    }

    .main_timeline .timeline {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .main_timeline .timeline_content {
        width: 100%;
        margin-bottom: 5vh;
    }

    .main_timeline .timeline_year {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -3vh;
    }
}